<form method="post" action="/logbook">
    <button type="submit" class="btn btn-default">Consultar</button>
</form>

<br>

<form method="post" action="/deleteLogBook">
    <button type="submit" class="btn btn-default">Eliminar</button>
</form>
