<form method="post" action="/settingsEliminar">
  <div class="form-group">
    <label style="color:white">Confirmar contraseña</label>
    <input type="password" class="form-control" name="password" placeholder="********">
  </div>
  <button type="submit" class="btn btn-default">Eliminar Usuario</button>
</form>