<a href="/settings2">Cambiar nombre de usuario</a><br><br>
<a href="/settingsEmail">Cambiar email</a><br><br>
<a href="/settingsPassword">Cambiar contraseña</a><br><br>
<a href="/settingsEliminar">Eliminar usuario</a>