<form method="post" action="/settings2">
  <div class="form-group">
    <label style="color:white">Nuevo nombre de usuario</label>
    <input type="text" class="form-control" name="username" placeholder="PipeGarcia">
  </div>
  <button type="submit" class="btn btn-default">Cambiar</button>
</form>